logs
*.log

config.ini
*.local

custom/*
!custom/Example/
#!custom/Example/**

data/*
!data/.gitkeep

web/user/*
!web/user/ExampleField.js

.venv
venv
.cursorrules
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
