logs
*.log
uv.lock

config.ini
*.local

custom/*
!custom/.gitkeep
!custom/Example/
#!custom/Example/**

data/*
!data/graphs/
data/graphs/*
!data/graphs/mellon/
!data/graphs/mellon/**
#!data/.gitkeep

web/user/*
!web/user/ExampleField.js

.venv
venv
.cursorrules
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
